// app global css in SCSS form
/* customize the scrollbar in the **.notes_container** */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;

    &-track {
        background: #f1f1f1;
    }

    &-thumb {
        background: transparent;
        border-radius: 5px;

        &:hover {
            background: darken(#F0F3FE, 30%);
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Helvetica New, Helvetica, Arial, sans-serif;
    line-height: 1.75;
}

h1 {
    font-size: 2.488rem;
    line-height: 1.75;
}

h2 {
    font-size: 2.074rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.728rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.44rem;
    line-height: 1.25;
}

h5 {
    font-size: 1.2rem;
    line-height: 1.25;
}

h6 {
    font-size: 1.25rem;
    line-height: 1.25;
}